<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MyType. Профиль</title>
    <link rel="stylesheet" th:href="@{/styles.css}">

    <script th:unless="${user.own}" th:inline="javascript">function getValue(id) {
        return /*[[${user.id}]]*/ id;
    }</script>
    <script th:src="@{/js/cookie.js}"></script>
    <script th:src="@{/js/connections/profileConnection.js}"></script>
    <script th:src="@{/js/controls/profileControl.js}"></script>
</head>
<body>
<header>
    mytype
    <button class="menu-button" onclick="toggleMenu();">Меню</button>
    <div class="dropdown-content" id="dropdownMenu">
        <a href="http://localhost:8080">Главная</a>
        <a href="http://localhost:8080/add">Добавить текст</a>
        <button disabled onclick="closeUser();" id="exitButton">Выход</button>
    </div>
</header>

<div class="info">
    <div class="uploading" id="uploading">
        <p>Загрузка</p>
    </div>

    <div class="error-button">
        <button id="errorButton" onclick="getUserData()">
            Проблема с подключением. Попробуйте еще раз.
        </button>
    </div>

    <div class="profile" id="profile">
        <h1 th:if="${user.own}">Профиль</h1>
        <h1 th:unless="${user.own}">Данные пользователя </h1>
        <div>
            <div class="profile-name">Имя пользователя: <span id="username"></span></div>
            <button th:if="${user.own}" class=change_buttons onclick="profileControl('username', 'Введите имя:')">
                Изменить имя
            </button>
        </div>

        <div th:if="${user.own}">
            <div class="profile-email">Почта: <span id="email"></span></div>
            <button class=change_buttons onclick="profileControl('email', 'Введите почту:')">Изменить почту</button>
        </div>

        <div th:if="${user.own}">
            <div class="profile-password">Пароль: <span id="password"></span></div>
            <button class=change_buttons onclick="profileControl('password', 'Введите пароль:')">Изменить пароль
            </button>
        </div>


        <div class="stats">
            <div class="stat">
                <div class="stat-number" id="spm"></div>
                <div class="stat-label">Среднее количество знаков</div>
            </div>
            <div class="stat">
                <div class="stat-number" id="time"></div>
                <div class="stat-label">Часов проведено</div>
            </div>
        </div>

        <div th:if="${user.own}">
            <button class="close-button" onclick="closeUser()">Выйти из профиля</button>
            <button class="delete-button" onclick="deleteUser()">Удалить профиль</button>
        </div>
    </div>


</div>

<footer>
    Контакты: venya2005@email.com
</footer>

<script th:src="@{/js/controls/popUpMenusControl.js}"></script>
<script> getUserData(); checkId();</script>

<div id="notifications" style="position: fixed; top: 80px; left:30px; z-index: 9999;"></div>
</body>
</html>